
  <div class="home-page-image">
    <h1>Pivatol Tracker</h1>

    <h3><%#= link_to "Enter", boards_path %></h3>
    <h3><a class="btn btn-lg btn-success" href="/boards" role="button">Enter</a></h3>

  </div>

  <%#= render partial: 'layouts/search' %>
  <!--<div class="layover">-->
    <!--<h1>What is &ldquo;Music Story&rdquo;?</h1>-->
    <!--<p>This application allows you to look up an artist that you are familiar with and provides you with a list of recommended related artists that fall into a similar musical style.</p>-->

    <!--<h2>How do you start?</h2>-->
    <!--<p>Use the search box or try <%#= link_to 'browsing by genre', genres_path %>.</p>-->
  <!--</div>-->
