<ul>
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-8">
        <h3><%= link_to title.capitalize, board_path(board) %></h3>
      </div>
      <div class="col-md-4">
        <%#= link_to "Delete", board_path(board), method: :delete %>
        <%= button_to "Delete", board_path(board), method: :delete, class: 'delete-board'  %>
      </div>

      <div class="col-md-6">
        <h4><strong>Created On: </strong> <%= board.created_at.strftime('%A %b %d, %Y') %></h4>
      </div>
    </div>
  </div>
</ul>
