<div class="all-boards">
  <h2 class="page-title">Existing Boards</h2>

  <ul class='block-grid-boards'>
    <% @boards.each do |board| %>
      <li>
        <%= render partial: 'board', locals: {board: board, title: board.title} %>
        <%= link_to "Delete", board_path(board), method: :delete %>
      </li>
    <% end %>
  </ul>

  <%= link_to "Create A New Board", new_board_path %>
</div>
