<h2 class="page-title">Existing Boards</h2>

<ul class='board-titles'>
  <% @boards.each do |board| %>
    <%= render partial: 'board', locals: {title: board.title} %>
  <% end %>
</ul>

<%= link_to "Make A New Board", new_board_path %>

