// Place all the styles related to the boards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.jumbotron .row {
  margin-top: -20px;

  .form-new-board-heading {
    text-align: center;
  }

  .form-new-ticket-heading {
    text-align: center;
  }

  #ticket-status-dropdown {
    display: inline;
    margin-left: 180px;
  }
}

.existing-boards {
  h2 {
    text-align: center;
  }

  .delete-board {
    margin-top: 10%;
  }
}


#new-ticket-form {
  border: 2px solid red;
}

#backlog {
  border: 2px solid red;
}

#current_sprint {
  border: 2px solid red;
}

#in_progress {
  border: 2px solid red;
}

#done {
  border: 2px solid red;
}

.footer {
  text-align: center;
  font-size: large;
}
