// Place all the styles related to the boards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.all-boards {
  background: image-url('desktop_3.jpg') no-repeat center;
  height: 100%;
  width: 100%;

  h2 {
    text-align: center;
  }

  .block-grid-boards {
    @include outer-container;


    li {
      @include span-columns(3);
      @include omega(4n);
      border: 2px solid red;
    }
  }

}
