// Place all the styles related to the boards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.all-boards {
//  background: image-url('desktop_3.jpg') no-repeat center;

  h2 {
    text-align: center;
  }

  .block-grid-boards {


    li {
      border: 2px solid red;
    }
  }
}


#new-ticket-form {
  border: 2px solid red;
}

#backlog {
  border: 2px solid red;
}

#current_sprint {
  border: 2px solid red;
}

#in_progress {
  border: 2px solid red;
}

#done {
  border: 2px solid red;
}
