// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.home-page-image {
  @include outer-container;
  background: image-url('desktop_1.jpg');
  border: 2px solid red;

  h1 {
    text-align: center;
  }

  h3 {
    text-align: center;
  }
}
