// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.home-page-image {
  background: image-url('desktop_1.jpg') no-repeat center;
  background-size: 100%;
  min-height: 1000px;

//  border: 2px solid red;

  h1 {
    text-align: center;
    padding-top: 22%;
    color: white;
  }

  h3 {
    text-align: center;
    margin-bottom: 10%;

    .btn {
      padding: 14px 24px;
      font-size: 21px;
      color: white;
    }
  }


}
